.loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 4.8px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: rgb(128, 128, 128);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
    width: 192px;
  }
  100% {
    left: 100%;
    transform: translateX(0%);
    width: 90vw;
  }
}