.navUp {
  position: fixed;
  right: 6%;
  bottom: 7%;
  z-index: 2;
  opacity: 0;
  transition: 1s;
}
.iconArrow {
  height: 55px;
  opacity: 0.65; 
  border-radius: 50% 50% 50% 50% / 76% 73% 27% 24%;
  background-color: rgba(255, 255, 255, 0.5);
}
.navUp.arrowUp {
  opacity: 1;
}
.navUp.arrowUp:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: var(--transition-hover);
}
@media(max-width: 1024px){
  .navUp{
    right: 2%;
  }
}
@media(max-width: 555px){
  .iconArrow{
    height: 45px;
  }
}