.categoryTextConteiner {
  padding-bottom: 3%;
}
.categoryText {
  font-size: 18px;
  color: var(--text-color-1);
}

/*========== @media =========*/

 @media (max-width: 1469px) {
  .categoryText{
    font-size: 17px;
  }
}

@media (max-width: 555px) {
  .categoryText{
    font-size: 16px;
  }
}
