.categoryTextConteiner {
  padding-bottom: 3%;
}
.categoryText {
  font-size: 18px;
  color: var(--text-color-1);
}

/*========== @media =========*/

@media (max-width: 1469px) {
  .categoryTextConteiner{
    padding: 0 10px 3% 10px;
  }
}

@media (max-width: 555px) {
  .categoryTextConteiner {
    padding: 2% 2%;
  }
}
