.blockPrices {
  list-style: none;
  margin-bottom: 45px;
}
.blockPrice {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 700px;
  transition: 0.5s;
}
.background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.priceCard {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: absolute;
  z-index: 5;
  left: 7.5%;
  color: var(--text-color-1);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4% 3%;
  height: 450px;
  width: 450px;
}

.withOutDetails{
  justify-content: center;
}

.priceTitle {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5%;
}
.price {
  font-weight: 400;
  margin-bottom: 7%;
}
.links{
  text-align: center;
  line-height: 250%;
  transition: var(--transition-hover);
}
.links:hover{
  color: rgb(69, 69, 69);
}
.servicesList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style:none;
}
.serviceItem {
  margin-bottom: 3%;
  text-align: center;
}
.blockPrices:last-child {
  margin-bottom: 0;
}

/*===== @media ======= */

@media (max-width: 1200px) {
  .blockPrice {
    height: 550px;
  }

  .priceCard {
    padding: 5% 3%;
  }
}

@media (max-width: 960px) {
  .blockPrice {
    height: 500px;
  }
  .priceCard.left {
    left: 3%;
  }
}

@media (max-width: 720px) {
  .blockPrice {
    height: 420px;
    object-fit: cover;
  }
  .priceCard {
    width: 50%;
  }
  .priceCard.left {
    left: 0;
  }
}

@media (max-width: 555px) {
  .blockPrice {
    margin-bottom: 10px;
    height: 500px;
  }
  .priceCard {
    height: 85%;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.45);
    color: var(--text-color-1);
  }
  .priceCard.left {
    left: 7.5%;
  }
  .priceTitle {
    font-size: 19px;
    margin-bottom: 5%;
  }

  .price {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .serviceItem {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
