.container{
    position: fixed;
    width: 100%;
    height: 100dvh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    animation: logoHidden 1s ease-in-out forwards;
    animation-delay: 5.5s;
    pointer-events: none
}
@keyframes logoHidden {
    0%{
        opacity: 1;
    }
    30%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}
.svg{
    scale: 1;
    animation: logoScale 0.9s ease-out forwards;
    animation-delay: 5.5s;
}
@keyframes logoScale {
    0%{
        transform: scale(1);
        margin-bottom: 0;
    }
    100%{
        transform: scale(15);
        margin-bottom: 60%;
    }
}
.logo{
    opacity: 0;
    animation: logoAnimation 2.5s ease-in forwards;
}
@keyframes logoAnimation {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.word{
    opacity: 0;
    animation: lettersAnimation 1s ease-out forwards;;
}
.wordOne{
    animation-delay: 2.8s;
}

.wordTwo{
    animation-delay: 2.5s;
}

.wordThree{
    animation-delay: 2s;
}

.wordFour{
    animation-delay: 2.7s;
}

.wordFive{
    animation-delay: 1.2s;
}

.wordSix{
    animation-delay: 1.5s;
}

.wordSeven{
    animation-delay: 2.6s;
}

.wordEight{
    animation-delay: 2.9s;
}

.wordNine{
    animation-delay: 2.4s;
}

.wordTen{
    animation-duration: 2s;
    animation-delay: 3s;
}

.wordEleven{
    animation-duration: 3s;
    animation-delay: 3.5s;
}
@keyframes lettersAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
