.block {
    width: 100%;
    background: var(--skeleton-color);
    margin-bottom: 5px;
    animation: anim 2s infinite linear;
}

@keyframes anim {
    0% {
        opacity: var(--skeleton-opacity);
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: var(--skeleton-opacity);
    }
}

.grid{
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    width: auto;
}

.gridColumn{
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
}