.list{
    list-style: none;
}
.img{
    width: 100%;
    cursor: pointer;
}
.grid{
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    width: auto;
}

.gridColumn{
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
}

@media (max-width: 1485px){
    .linkToBack{
        margin-left: 25px;
    }
}

@media (max-width: 720px){
    .linkToBack{
        rotate: -90deg;
    }
}
.block {
    width: 100%;
    aspect-ratio: 2 / 3;
    background: gray;
    margin-bottom: 5px;
}

@media (max-width: 1485px) {
    
}