.block {
  width: 100%;
  height: 550px;
  background: var(--skeleton-color);
  margin-bottom: 20px;
  animation: anim 2s infinite linear;
}

@keyframes anim {
  0% {
    opacity: var(--skeleton-opacity);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: var(--skeleton-opacity);
  }
}
