.blockInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.blockImg{
    width: 45%;
}

.img{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.skeleton {
    width: 80%;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--skeleton-color);
    margin-bottom: 5px;
    animation: anim 2s infinite linear;
    aspect-ratio: 2 / 3;
}

@keyframes anim {
    0% {
        opacity: var(--skeleton-opacity);
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: var(--skeleton-opacity);
    }
}


.text{
    width: 55%;
    line-height: 30px;
    padding:0 100px 0 20px;
}
.text h2{
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 18px;
}
.text p {
    line-height: 30px;
    margin-bottom: 20px;
}
@media (max-width: 1000px){
    .text{
        padding:0 40px 0 10px;
    }
    .text h2{
        margin-bottom: 20px;
        font-size: 17px;
    }
    .text p{
        margin-bottom: 15px;
        font-size: 15px;
    }
}
@media (max-width: 700px){
    .blockInfo{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }
    .blockImg{
        width: 100%;
        margin-bottom: 30px;
    }
    .img,
    .skeleton{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}