.navUp {
    position: fixed;
    right: 8%;
    bottom: 7%;
    z-index: 2;
    opacity: 0;
    transition: 1s;
   }
   .iconArrow {
    height: 55px;
    border-radius: 50% 50% 50% 50% / 76% 73% 27% 24%;
    background-color: rgba(255, 255, 255, 0.5);
 }
 .navUp.arrowUp {
    opacity: 1;
    transition: 1s;
 }
 .navUp.arrowUp:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.8s;
 }