.footer {
  display: flex;
  justify-content: center;
  min-height: 170px;
}
.socialNetwork {
  margin: auto 0;
}
.titleNetwork {
  margin-bottom: 20px;
  color: var(--text-color-1)
}
.titleSpan {
  color: var(--text-color-2);
  margin-left: 5px;
}
.networkList {
  display: flex;
  justify-content: center;
}
.networkItem {
  padding: 0 20px 0 20px;
  list-style: none;
}
.networkIcon {
  width: 30px;
  opacity: 0.5;
  transition: var(--transition-hover);
}
.networkIcon:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media (max-width: 555px) {
  .socialNetwork {
    padding-bottom: 25px;
  }
  .titleNetwork {
    font-size: 14px;
  }
}
