.wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: absolute;
  z-index: 5;
  right: 10%;
  bottom: 10%;
  list-style: none;
  width: 80%;
  height: fit-content;
  padding: 1%;
  overflow: hidden;
  cursor: pointer;
}

.wrapper ul li {
  position: relative;
  text-align: end;
  font-size: 11px;
  opacity: 0;
  text-transform: lowercase;
  animation: animLi 0.4s ease-in forwards;
}

@keyframes animLi {
  0% {
    transform: translate(100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.wrapper button {
  position: absolute;
  right: 10%;
  bottom: 10%;
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}


@media (max-width: 420px) {
    .wrapper button {
        bottom: 5%;
      }
      .wrapper ul {
        bottom: 5%;
      }
}