@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Quicksand:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --text-color-1: #1a1919;
  --text-color-2: #bfbfbf;
  --transition-hover: 0.6s;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.active {
  color: var(--text-color-2);
}
.desableScroll {
  overflow: hidden;
}
