.titleBlock{
    position: relative;
    max-height: 37px;
    margin-bottom: 35px;
}
.linkToBack{
    position: absolute;
    height: 15px;
    left: 0;
    top: 50%;
    z-index: 1;
    text-decoration: none;  
    cursor: pointer;
    transition: 0.5s;
}
.linkToBack:hover{
    rotate: -90deg;
    opacity: 0.5;
}
.title{
    text-align: center;
    font-weight: 400;
    opacity: 0.7;
}
.title::first-letter{
    text-transform: uppercase;
}
.list{
    list-style: none;
}
.img{
    width: 100%;
    cursor: pointer;
}
.grid{
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    width: auto;
}

.gridColumn{
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
}
