.modal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(000, 000, 000, 0.9);
    top: 0;
    left: 0;  
    z-index: 3;
}
.viewImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 97%;
    max-width: 100%;
}
.btn{
    border: none;
    height: 50px;
    background: none;
    z-index: 1;
    cursor: pointer;
}
.nextBtn{
    rotate: 180deg;
}
.img{
    height: 50px;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.3s;
}
.img:hover{
    scale: 1.05;
    opacity: 1;
}
.img:active{
    scale: 1;
    opacity: 0.7;
}
.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 540px){
    .viewImg{
        bottom:0;
    }
}